.button{
    display:inline-flex;
    align-items:center;
    justify-content:center;
    padding:.75rem 1.4rem;
    border:none;
    border-radius:8px;
    cursor:pointer;
    font-weight:600;
}

.button--primary{
    background:#111827;
    color:white;
}

.button--secondary{
    background:#e5e7eb;
}

.button--danger{
    background:#111827;
    color:white;
}


.button--danger:hover {
    background: #aeaeb0;
}


.button--secondary:hover {
    background: #aeaeb0;
}