{% extends "base.html" %}

{% block title %}Login{% endblock %}

{% block content %}

<div class="layout__center">

    <div class="card card--small">

        <h1 class="card__title">
            Login
        </h1>

        <form method="POST" class="form">

            {% csrf_token %}

            <div class="form__group">
                <label class="form__label">
                    Username
                </label>

                {{ form.username }}
            </div>


            <div class="form__group">
                <label class="form__label">
                    Password
                </label>

                {{ form.password }}
            </div>


            <button class="button button--primary" type="submit">
                Login
            </button>

        </form>


        <p class="card__text">
            Don't have an account?
            <a href="{% url 'signup' %}">
                Sign up
            </a>
        </p>

    </div>

</div>

{% endblock %}