{% extends "base.html" %}

{% block title %}Contacts{% endblock %}
{% block heading %}Contacts{% endblock %}

{% block actions %}
<a href="{% url 'create' %}" class="btn">+ New Contact</a>
{% endblock %}

{% block content %}
<table>
    <tr>
        <th>Name</th>
        <th>Email</th>
        <th></th>
    </tr>

    {% for contact in contacts %}
        <tr onclick="window.location='{% url 'details' contact.id %}'" class="row-link">

        <td>{{ contact.name }}</td>
        <td>{{ contact.email }}</td>

            <!-- IMPORTANT: stop row click when clicking buttons -->
        <td onclick="event.stopPropagation();">
            <a href="{% url 'edit' contact.id %}" class="btn btn-sm">Edit</a>
            <a href="{% url 'delete' contact.id %}" class="btn btn-sm btn-danger">Delete</a>
        </td>

    </tr>
    {% endfor %}
</table>
{% endblock %}
